{
  "extends": ["react-app", "react-app/jest"],
  "plugins": ["@typescript-eslint"],
  "rules": {
    "@typescript-eslint/no-unused-vars": ["error"],
    "no-unused-vars": "off",
    "no-use-before-define": "error",
    "no-console": "warn",
    "array-bracket-spacing": "error"
  }
}
